footer {
    background: linear-gradient(var(--color-secondary), var(--color-primary-darker));
    height: 50vh;
    margin: -12rem 0 0 0;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}

footer a {
    margin-right: 6rem;
    margin-top: 12rem;
}

footer a img {
    transition: 200ms;
}

footer a img:hover {
    transform: scale(1.2);
}