header {
    background: linear-gradient(var(--color-primary-darker), var(--color-secondary));
    text-align: center;
    padding: 3.6rem;
    border-bottom: 1px solid #000;
}

header a {
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--color-title-in-primary);
    margin: 1.2rem;
    transition: 300ms;
    position: relative;
}

/****** MAKES THE UNDERLINE IN THE HEADER A ******/
header a:after {
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--color-primary);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

header a:hover:after{
    width: 100%;
    left: 0;
    background: var(--color-primary);
}